$accentColor : #F7941D;
$accentColor2 : #4FCAF4;
$backColor: #181819;
$codeBackColor: #101011;
$codeBlockBackColor: #121214;
$footerBackColor: rgb(15, 18, 21);
$frontColor: #F3F3F4;
$smallColor: #68686B;
$smallColor2 : #BFBFBF;

$h1Size : 65px;
$h2Size : 45px;
$h3Size : 40px;
$h4Size : 20px;

$creditSize : 23px;
$textSize : 28px;
$smallTextSize : 22px;

@import '_code.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    background-color: $backColor;
}

body {
    margin: 60px 100px;
}

h1 {
    letter-spacing: 5px;
    position: relative;
    right: 40px;
    font-family: 'Roboto';
    font-size: $h1Size;
    font-weight: bolder;
    color: $accentColor;
    text-transform: uppercase;
}

h2 {
    letter-spacing: 3px;
    position: relative;
    right: 40px;
    font-family: 'Roboto';
    font-size: $h2Size;
    font-weight: 700;
    color: $accentColor;
    text-transform: uppercase;

    #documentation {
        margin: 0px 15px;
        color: $frontColor;
        line-height: 100px;
    }

    #cmdr {
        font-size: $creditSize;
        color: $smallColor;
        font-weight: 400;
        line-height: 50px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        bottom: 5px;

        #author {
            font-weight: 700;
        }
    }
}

h3 {
    letter-spacing: 1.5px;
    padding-top: 80px;
    font-family: 'Roboto';
    font-size: $h3Size;
    font-weight: 400;
    color: $accentColor;
    text-transform: uppercase;
}

h4 {
    letter-spacing: 1px;
    font-family: 'Roboto';
    font-size: $h4Size;
    font-weight: 400;
    font-style: italic;
    color: $smallColor;
    padding-bottom: 10px;
}

p,
ul,
ol {
    font-family: 'Roboto';
    letter-spacing: 0.75px;
    line-height: 140%;
    font-size: $textSize;
    font-weight: 300;
    color: $frontColor;
    padding: 0px 50px;
    padding-top: 15px;
    padding-bottom: 10px;
}

ul,
ol {
    margin-left: 50px;
}

b {
    color: $accentColor;
}

a {
    color: $accentColor;
    font-style: italic;
    transition-duration: 500ms;
}

a:hover {
    color: $accentColor2;
    transition-duration: 500ms;
}

.header {
    font-family: 'Roboto';
    font-size: $textSize;
    font-weight: 300;
    color: $frontColor;
    padding: 0px 50px;
    padding-top: 25px;

    #counter {
        font-family: 'Roboto Mono';
        position: relative;
        right: 70px;
        color: $accentColor2;
    }

    #title {
        position: relative;
        right: 50px;
        font-weight: 400;
    }
}

.code {
    font-family: 'Roboto Mono', Courier, monospace !important;
    background-color: $codeBackColor;
    font-size: 80%;
    color: $accentColor;
    border-radius: 15px;
    padding: 4px 15px;
}

table {
    background-color: $codeBlockBackColor;
    border: 2px solid $accentColor;
    border-radius: 10px;
    padding: 0px 80px;
    padding-bottom: 20px;

    margin: 30px 50px;

    td {
        padding-right: 70px;
        line-height: 50px;

        font-family: 'Roboto';
        font-size: $smallTextSize;

        letter-spacing: 3px;

        font-weight: 300;
        color: $frontColor;
    }

    th {
        padding-right: 70px;
        padding-bottom: 20px;
        padding-top: 10px;
        line-height: 70px;

        text-align: left;
        font-family: 'Roboto';
        font-size: $h4Size;
        text-transform: uppercase;

        letter-spacing: 8px;

        font-weight: 400;
        color: $smallColor2;
    }
}

::-webkit-scrollbar-track {
    transition-duration: 1s;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgb(29, 30, 37);
}

::-webkit-scrollbar {
    transition-duration: 1s;
    width: 12px;
    background-color: $codeBlockBackColor;
}

::-webkit-scrollbar-thumb {
    transition-duration: 1s;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $accentColor;
}

footer {
    width: 100%;
    text-align: center;
    background-color: $footerBackColor;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid $accentColor;
    border-bottom: 0px;
    margin-top: 100px;

    hr {
        margin-top: 80px;
        background: url("../ed.png") no-repeat top center;
        background-size: contain;
        display: block;
        height: 100px;
        border: 0;
        position: relative;
    }

    hr:before,
    hr:after {
        content: '    ';
        display: block;
        position: absolute;
        background: $accentColor;
        height: 2px;
        top: 50px;
    }

    hr:before {
        left: 0;
        right: 50%;
        margin-right: 10px;
    }

    hr:after {
        right: 0;
        left: 50%;
        margin-left: 10px;
    }

    img {
        height: 100px;
        margin: 0px;
        padding: 0px;
    }

    hr {
        position: relative;
        bottom: 50px;
        border-color: $accentColor;
    }

    h1 {
        color: $smallColor2;
    }

    h2 {
        color: $smallColor;
    }
}

nav {

    position: relative;
    right: 44px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    bottom: 5px;

    a {
        font-family: 'Roboto';
        font-size: $creditSize;
        color: $smallColor;
        font-weight: 400;
        color: $smallColor;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            color: $smallColor;
            display: inline;
            margin: 0px 5px;
        }
    }
}

.badges {
    padding: 10px;
    padding-bottom: 7px;
    padding-left: 6px;
    border: 2px solid $accentColor;
    border-radius: 10px;

    position: relative;

    img {
        border-radius: 5px;
        margin: 0px 5px;
        height: 35px;
    }
}

.notice {
    $stripeColor: rgba(252, 226, 113, 0.096);

    $c1: $stripeColor;
    $c2: $backColor;
    $c3: $stripeColor;

    border: 2px solid $accentColor;
    border-radius: 10px;
    margin: 30px 0px;
    padding: 20px;
    padding-bottom: 22px;

    background-color: $c2;
    background-repeat: repeat-y;
    background-size: 100% 88px;
    background-position: 0% 0%;
    background-image: repeating-linear-gradient(-25deg, $c2, $c2 20px, $c1 20px, $c1 40px, $c2 40px, $c2 60px, $c3 60px, $c3 80px);
    animation: barberpole 6s linear infinite;

    p {
        color: $accentColor;
        font-style: italic;
    }
}


@keyframes barberpole {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 670%;
    }
}