.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-enter-from {
  transform: translateY(20px);
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  transform: translateY(0px);
  opacity: 1;
}

.fade-leave-to{
  transform: translateY(-20px);
  opacity: 0;
}