@import "theme";

.input {
  cursor: pointer;
  border: 2px solid $accent;
  border-radius: 10px;
  padding: .25rem 1rem;
  color: $accent;
  background-color: transparentize(mix($accent, $background), .9);
  transition: 200ms;

  &:hover, &:focus {
    transform: translateY(-3px);
    border-color: transparentize($accent, .4);
    background-color: transparentize(mix($accent, $background), .6);
    color: $accent;
    outline: none;
  }

  &:active {
    transform: translateY(-1px);
    border-color: $accent;
    background: transparentize(mix($foreground, $background, 3%), .2);
    color: $accent;
  }

  &.textbox {
    cursor: text;
  }

  &.button {
    cursor: pointer;
    text-transform: uppercase;
  }
}

.input + .input {
  margin-left: .5rem;
}