
.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 220px));
  gap: 1rem;

  @for $i from 1 through 30 {
    .link-wrapper:nth-child(#{$i}) {
      transition-delay: $i * 50ms;
    }
  }

  &.hidden {
    .link-wrapper {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  .link-wrapper {
    transition: 200ms;

    &.big {
      grid-column: span 2;
      grid-row: span 2;

      h1 {
        font-size: 3rem;
      }
    }
  }

  .link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    margin-bottom: 0;
    height: 100%;
    width: 100%;

    h1 {
      margin-top: auto;
      font-size: calc(3vw + 3vh);
      color: $foreground;
    }

    h1 {
      font-size: 1.6rem;
      filter: drop-shadow(0 0 5px transparentize($foreground, 0.8));
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &.disabled {
      h1 {
        color: transparentize($foreground, .8)
      }

      pointer-events: none;
    }

    &:hover {
      h1 {
        color: $accent;
        filter: drop-shadow(0 0 5px transparentize($accent, 0.8));
      }
    }
  }
}