// Neu elements
$neuSetBackground: $background;
$neuDegree: 145deg;
$neuBackground: linear-gradient(0deg, $neuSetBackground, $neuSetBackground);

$neuBorderColor: based-background($background, darken($neuSetBackground, 0.9%), lighten($neuSetBackground, 1.5%));

$neuWhiteDarkColor:transparentize(darken($neuSetBackground, 5%), 0.9);
$neuWhiteLightColor:transparentize(lighten($neuSetBackground, 3%), 1);
$neuBlackDarkColor:transparentize(darken($neuSetBackground, 10%), 0.3);
$neuBlackLightColor:transparentize(lighten($neuSetBackground, 10%), 0.3);

$neuDarkColor: based-background($background, $neuBlackDarkColor, $neuWhiteDarkColor);
$neuLightColor: based-background($background, $neuBlackLightColor, $neuWhiteLightColor);

$neuFirstGradientColor: darken($neuSetBackground, 3%);
$neuSecondGradientColor: lighten($neuSetBackground, 2%);

$neuBorder: 2px solid $neuBorderColor;
$neuBackgroundPushed: linear-gradient($neuDegree, $neuFirstGradientColor, $neuSecondGradientColor);
$neuBackgroundPopped: linear-gradient($neuDegree, $neuSecondGradientColor, $neuFirstGradientColor);

// Normal neu elements
$neuOffset: 10px;
$neuBlur: 50px;
$neuBorderRadius: 50px;
$neuShadow: $neuOffset $neuOffset $neuBlur $neuDarkColor, (-$neuOffset) (-$neuOffset) $neuBlur $neuLightColor;

// Small neu elements
$neuOffsetSmall: 5px;
$neuBlurSmall: 25px;
$neuBorderRadiusSmall: 15px;
$neuShadowSmall: $neuOffsetSmall $neuOffsetSmall $neuBlurSmall $neuDarkColor, (-$neuOffsetSmall) (-$neuOffsetSmall) $neuBlurSmall $neuLightColor;
