@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

$background: #101013;
//$background: #c8c8cd;

$foreground: based-background($background, rgb(82, 82, 88), rgb(188, 188, 199));
$accent: based-background($background, #e57b35, #ef9e0b);
$accent2: based-background($background, #3370ca, #5588dd);

$font: 'Inter', sans-serif;
$fontNormal: 500;
$fontBold: 700;

$fontMono: 'Overpass Mono', monospace;

@import './neumorphism';

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: $accent;
}
::-webkit-scrollbar-thumb {
  background: $accent;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
  background: lighten($accent, 10%);
}
::-webkit-scrollbar-track{
  background: darken($background, .5);
  box-shadow: inset 7px 10px 12px $background;
}
