body {
  font-family: $font;
  font-weight: $fontNormal;
  color: $foreground;

  h1, h2, h3, h4, h5 {
    font-family: $font;
    font-weight: $fontBold;
    line-height: 1.8em;
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p, ol, ul, blockquote, pre, code {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .mono {
    font-family: $font;
    font-weight: $fontNormal;
  }

  .muted {
    color: mix($foreground, $background)
  }

  pre {
    background: $neuBackground;
    border-radius: $neuBorderRadiusSmall;
    border: $neuBorder;
    box-shadow: $neuShadowSmall;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    color: $accent2;
    font-family: $font;
  }

  code {
    font-family: $font;
    font-weight: $fontNormal;
    color: $accent2;
    padding: 0 .15rem;
  }
}
