body {
  padding: 20px 12vw;
  background-image: linear-gradient(#2a2633, #262a33);
  background-attachment: fixed;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: #c8c8c8;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 60px;

  color: #d4d4d4;

  margin-bottom: 0px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: #9f9f9f;

  margin-top: 0px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #c8c8c8;

  margin: 15px 20px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #c8c8c8;

  margin: 20px 30px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: #c8c8c8;

  margin: 15px 40px;
}

a {
  color: rgb(161, 103, 226);
  text-decoration: none;
  transition-duration: .5s;
  font-style: italic;
}

a:hover {
    color: rgb(88, 109, 195);
    transition-duration: .5s;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: none;
  border-left: none;
  border-right: none;
 margin: 30px 20px;
}

.badges {
  text-align: center;
  padding: 10px;
}
