nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: normal;
  font-family:
}

nav li a:hover {
  background-color: #262626;
}
