body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid slategrey;
}
