table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: 60px;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}

table td, table th {
  padding: 10px;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;

  color: rgb(208, 207, 207);

  padding-right: 50px;
}



table tr:nth-child(even)
{
  background-color: #343434 !important;
}

table tr:nth-child(odd)
{
  background-color: #414141 !important;
}


table tr:hover, table tr
{
  background-color: #cfd0dd;
  transition-duration: 0.5s;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #191121;
}
