$glass-background: rgba(255, 255, 255, 0.1);
$glass-filter: blur(10px) saturate(180%);
$glass-border: 2px solid rgba(255, 255, 255, 0.1);
$glass-border-radius: 15px;

$success: rgb(62, 229, 76);
$warning: rgb(229, 134, 62);
$error: rgb(229, 62, 62);

$accent: rgb(229, 134, 62);
