pre {
    background-color: $codeBackColor;
    border-radius: 15px;
    border: 2px solid $accentColor;
    margin: 30px 50px;
    padding: 0px 30px;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    font-size: 20px;
}

.hljs,
.hljs-subst {
    color: rgb(238, 224, 224);
}

.hljs-keyword { color: rgb(110, 167, 204); }

.hljs-title { color: rgb(110, 204, 126); }

.hljs-function > .hljs-title { color: rgb(215, 152, 218); }

.hljs-number { color: rgb(158, 184, 120); }

.hljs-comment { color: rgb(65, 99, 58); }

.hljs-literal { color: rgb(93, 73, 207); }