
.type-wrapper {
    margin: 20px 0px;
    padding: 20px 3%;
    border-radius: 10px;
    background-color: #282C34;
}

.type {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

.type-link, .type-link-disabled {
    color: #3B9BC0;
}

.type-key {
    color: #D19A66;
}

.type-generic {
    color: rgb(163, 163, 61);
}

.type-value {
    color: #E06C75;
}

.name {
    color: #61AD79;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}

.parameter {
    font-style: italic;
}

.parameter .name {
    font-weight: normal;
}

.type-link:active,
.type-link:hover {
    text-decoration: underline;
}

.syntax {
    font-family: 'Roboto Mono', monospace !important;
    font-style: italic;
    color: #ABB2BF;
}

.syntax-seperator {
    color: #3E9FBA;  
}

.documentation {
    color: rgb(109, 109, 109);
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
    margin-top: 10px;
    display: inline-block;
}

.button {
    display: block;
    border-radius: 10px;
    border: rgb(42, 43, 58) solid 2px;
    background-color: #282C34;
    color: rgb(185, 185, 185);
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    padding: 14px 80px;
    margin-left: 20px;
    top: 45px;
    position: relative;
}